<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="/common/head :: head"></div>
</head>
<body>
    <div th:replace="/common/nav :: nav"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            新增文章
        </div>
        <div class="card-body">
            <form method="post" action="/article/save" name="form" id="form">
                <div class="form-group">
                    <label for="exampleFormControlInput1">排序</label>
                    <input type="text" class="form-control" id="todayId" name="todayId" value="0">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">标题</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
                </div>
                <div class="form-group">
                    <label for="category">平台</label>
                    <select class="form-control" id="category" name="category">
                        <option value="伊川手机报" >伊川手机报</option>
                        <option value="伊川新闻微信公众号" >伊川新闻微信公众号</option>
                        <option value="云上伊川APP" >云上伊川APP</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="columns" id="col">手机报栏目</label>
                    <select class="form-control" id="columns" name="columns" >
                        <option value="今日头条" >今日头条</option>
                        <option value="时政新闻" >时政新闻</option>
                        <option value="社会新闻" >社会新闻</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">正文</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="content" ></textarea>
                </div>
                <input class="btn btn-primary" type="submit">
                <a class="btn btn-primary" th:href="@{/article/list}">返回</a>
            </form>
        </div>
    </div>
</div>
<script>
    $("#category").change(function () {
        let column = $(this).val();
        if (column !=="伊川手机报") {
            $("#col").hide();
            $("#columns").hide().val(null);
        } else {
            $("#col").show();
            $("#columns").show().val("今日头条");
        }
    })
    $("#category").change()
</script>
</body>
</html>