<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/article/list">今日稿件</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">手机报</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">微信公众号</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">云上伊川</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            修改文章
        </div>
        <div class="card-body">
            <form method="post" action="/article/update" name="form" id="form">
                <input type="hidden" name="_method" value="put">
                <div class="form-group">
                    <label for="exampleFormControlInput1">排序</label>
                    <input type="text" class="form-control" id="todayId" name="todayId"
                           th:value="${article.todayId}">
                </div>
                <div class="form-group">
                    <input type="hidden" name="id" th:value="${article.id}">
                    <label for="exampleFormControlInput1">标题</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
                           th:value="${article.title}">
                </div>
                <div class="form-group">
                    <label for="category">平台</label>
                    <select class="form-control" id="category" name="category" th:switch="${article.category}">
                        <option value="1" th:case="'1'" th:selected="${article.category=='伊川手机报'}">伊川手机报</option>
                        <option value="2" th:case="'2'" th:selected="${article.category=='伊川新闻微信公众号'}">伊川新闻微信公众号</option>
                        <option value="3" th:case="'3'" th:selected="${article.category=='云上伊川APP'}">云上伊川APP</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="columns" id="col">手机报栏目</label>
                    <select class="form-control" id="columns" name="columns" th:switch="${article.columns}">
                        <option value="1" th:case="'1'" th:selected="${article.columns=='今日头条'}">今日头条</option>
                        <option value="2" th:case="'2'" th:selected="${article.columns=='时政新闻'}">时政新闻</option>
                        <option value="3" th:case="'3'" th:selected="${article.columns=='社会新闻'}">社会新闻</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">正文</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="content"
                              th:text="${article.content}"></textarea>
                </div>
                <input class="btn btn-primary" type="submit">
                <a class="btn btn-primary" th:href="@{/article/list}">返回</a>
            </form>
        </div>
    </div>
</div>
<script>
    $("#category").change(function () {
        let column = $(this).val();
        if (column === "2" || column === "3") {
            $("#col").hide();
            $("#columns").hide().val(null);
        } else {
            $("#col").show();
            $("#columns").show().val();
        }
    })
    $("#category").change()
    // $("#columns").val($(this).val())
</script>
</body>
</html>